<% action_url = post.persisted? ? post_url(post) : posts_url %>
<% http_method = post.persisted? ? "PATCH" : "POST" %>

<% button_name = post.persisted? ? "Update" : "Create post" %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="title">Title</label>
<input id="title" type="text" name="post[title]" value="<%= post[:title] if post.persisted? %>">

<br>
<br>

<label for="url">URL (Optional)</label>
<input id="url" type="text" name="post[url]" value="<%= post.persisted? ? post[:url] : "http://" %>">

<br>
<br>

<label for="content">Content</label>
<br>
<textarea rows="10" cols="50" id="content" name="post[content]"><%= post[:content] if post.persisted? %></textarea>

<br>
<br>

  <% Sub.all.each do |s| %>
    <label><%= s.title %>
      <input id="subs" type="checkbox" name="post[sub_ids][]" value=<%= s.id %> <%= "checked" if post.sub_ids.include?(s.id) %>>
    </label>
    <br>
  <% end %>

<br>

<input type="submit" value="<%= button_name %>">

</form>
