<h1><%= @sub.title %></h1>
<h2><%= @sub.description %></h2>

<% @sub.posts.each do |post| %>
  <p>
    <%= link_to post.title, post_url(post) %>
    <%= link_to "Edit", edit_post_url(post) %>
  </p>
<% end %>

<%= button_to "New Post", new_post_url, method: :get  %>
<br>
<%= button_to "Edit #{@sub.title}", edit_sub_url(@sub), method: :get %>
<br>
<%= button_to "Delete #{@sub.title}!", sub_url(@sub), method: :delete %>
<br>
<%= link_to "<< Back to all subs", subs_url %>
